*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 209, 209);
}

#app-container {
  .section1, .section2, .section3 {
    width: 300px;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.3rem;
    .screening-display {
      display: flex;
      gap: 5px;
    }
    .screening-display > img {
      width: 25px;
      height: 25px;
    }
  }

  .section2#game-grid{
    height: 300px;
    background-image: url('../icons/dirt.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 6px solid black;
    /* mole moves here */
    display: grid;
    margin: 2rem 0;
    .board {
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;
      .mole {
        width: 60px;
        height: 60px;
      }

    }
  }

  .section1, .section3 {
    height: 60px;
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .start-game-btn {
      width: 100px;
      height: 60px;
    }
  }
}